.modal{
  background-color:rgba(0,0,0,.15);
  overflow:hidden;
  position:fixed;
  top:150px;left:50%;/*This prevents collision with z-indexing in the header; horizontal left offset must be handled case-by-case due to differing modal widths*/
  z-index:15;
}
  .modal .shadow{
  	background-color:#fff;
    border:2px solid #999;
    box-shadow:0 0 20px rgba(0,0,0,.5);
    margin:20px;
    padding:20px 10px 0;
    -moz-box-shadow:0 0 20px rgba(0,0,0,.5);
    -webkit-box-shadow:0 0 20px rgba(0,0,0,.5);
		box-shadow:0 0 15px rgba(0,0,0,.5);
		overflow:hidden;
    position:relative;
		width:auto;
  }
		/*IE8 shadow uses MS blur filter*/
		.ie8 .ie-shadow{
			background: #000;
			display:block;
			filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='30', MakeShadow='true', ShadowOpacity='0.5');
			margin:-15px 45px 45px -15px;
		}
			.ie8 .ie-shadow .shadow{
				margin:0;
				top:30px;left:30px;
			}
		/*IE7 and below use a large border*/
		.ie7 .ie-shadow,
		.ie6 .ie-shadow{border:15px solid #eee;}
			.ie7 .shadow,
			.ie6 .shadow{margin:0;}
  .modal h1{
		border-bottom:1px solid #ddd;
		font:normal 20px/20px Arial,sans-serif;
		margin:0 0 10px;
		padding:10px 0;
		text-align:center;
	}
  .closeContainer{
    background-color:#e2e2e2;
    color:#777;
  	font:bold 15px sans-serif;
  	line-height:10px;
		padding:1px 0 4px;
  	position:absolute;
  	text-align:right;
  	top:0;left:0;
  	width:100%;
  }
    .closeContainer .close{
			margin-right:3px;
			cursor:pointer;
  	}
  	.closeContainer .close a{color:#777 !important;text-decoration:none !important;}
	/*Notification modals*/
	.modal.notification{
		font-size:14px;
		margin-left:-215px;
		text-align:center;
		width:431px;
	}
		.modal.notification .shadow{padding-bottom:20px;}
		.modal.notification h1{
			border-bottom:0;
			margin:0;
			padding-top:20px;
		}
		.modal.notification p{
			margin:0 0 15px;
		}
		.modal.notification button{
			background-color:#fff;
			font:bold 13px Arial,sans-serif;
			margin:0 2px;
			padding:2px 4px;
		}